* {
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

ul,
ol {
  list-style-type: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* navbar */
.navbar {
  border: 2px solid aqua;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  /* background-color: #ffffff; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}
.logo{
    
}

.nav-links a{
  border: 2px solid aqua;
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: black;

}
.nav-links{
  border: 2px solid aqua;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav>div{
    border: 2px solid salmon;
    display: flex;
    align-items: center;
    gap: 24px;
    /* padding: 2px 5px; */
}
    

.text-color-1{
    color: black;
}


.primary-btn{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 24px;
  gap: 10;
  border-radius: 41px;
  background-color: #E02C6D;
  flex-direction: row;
  width: 196px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  

}
.arrow img{
    margin-left: 8px;
    width: 24px;
    height: 24px;
}


.hamburger-bar{
    display: none;
}


/* banner */

.banner{
    border: 2px solid yellow;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;

}

.banner-content{
    border: 2px solid greenyellow;
    text-align: left;
    width: 50%;
    height: 1200px;
    max-width: 580px;
    max-height: 270px;
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}
/* .banner-content>p{
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

.banner-img{
    width: 50%;
    max-width: 440px;
    max-height: 414px;
    border: 2px solid brown;
    /* position: relative; */
    display: flex;
    align-items: center;  
    justify-content: center;
}

.bn-circle{
    border: 2px solid blue;
    position: relative;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.bn-img{
    border: 2px solid aqua;
    position: absolute;
    width: 28rem;
    height: 25rem;
    display: flex;
    align-items: center;  
    justify-content: center;
    padding: 2rem;
}




/* sponsor */

.sponsor{
    border: 2px solid orangered;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.sponsor-img{
    border: 2px solid aqua;
    width: 1110px;
    height: 110px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.sp-im{
    border: 1px solid green;
    /* width: 55px;
    height: 31px; */
}
















/* responsive */
/* @media screen and (min-width: 481px) and (max-width: 992px) {
.hamburger-bar{
  display: none;
}

} */
@media screen and (max-width: 480px) {
  .menu-container{
    display: none;
  }
  .hamburger-bar{
    display: inline;
}
}